extends layout.pug

block body
  .max-w-md.w-full
    div(class='sm:mx-auto sm:w-full sm:max-w-md')
      h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-gray-900
        | You have successfully ended your session.
    div.mt-10.text-center
      a.mt-6.text-center.text-2xl.leading-9.font-extrabold.text-blue-500(href='/')
        | Click here to sign back in to Flipper.